apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: postgres-patroni
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://github.com/ZombiePm/postgres-patroni.git'
    targetRevision: main
    path: .
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: postgres
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true